@charset "UTF-8";

body,h1,h2,h3,h4,h5,h6 {
  font-family: "Lato", sans-serif;
}

body,
html {
  height: 100%;
  color: #000;
  line-height: 1.8;
  scroll-behavior: smooth;
}
p{
  color : #777;
}
strong{
  color: #000;
}
a{
  text-decoration: none;
}
/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('/img/main.jpg');
  min-height: 100%;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("/img/portfolio.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("/img/contact.jpg");
  min-height: 400px;
}

.w3-wide {
  letter-spacing: 10px;
}
.education-line{
  margin-top: 47px;
}
.w3-hover-opacity {
  cursor: pointer;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {

  .bgimg-1,
  .bgimg-2,
  .bgimg-3 {
    background-attachment: scroll;
    min-height: 400px;
  }
}
.img-border{
  position: relative;
}
.img-border:after{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.about-me{
  font-size: 17px;
  margin-top: 25px;
}
